.row
  .span6.offset1
    .page-header
      %h1 About Me
.row
  .span6.offset1.muted
    %ul.unstyled#personal-attributes.pull-left
      %li.personal-attributes-lg Libertarian
      %li.personal-attributes-med.indent Proud
      %li.personal-attributes-sm Productive
      %li.personal-attributes-lg.indent Determined
      %li.personal-attributes-sm Honest
    %ul.unstyled#personal-attributes.pull-left
      %li.personal-attributes-med Outdoorsman
      %li.personal-attributes-sm.indent Developer
      %li.personal-attributes-lg Sovereign
      %li.personal-attributes-med.indent Active
      %li.personal-attributes-sm Technology Geek
  .span4
    %p.thumbnail.well
      %img{:src => 'https://si0.twimg.com/profile_images/2339971986/h8sm76r0hlg6c55gimi7.jpeg', :alt => 'Profile Photo', :title => 'Profile Photo'}
.row
  .span4.offset1.hero-unit
    %p I strive to improve my life, the lives of those around me and the lives that will come after.
