- archive_helper = ArchiveHelper.new(@path)

.row
  .span7.offset3
    %h1.page-header 
      This is what I was up to in #{archive_helper.month_or_year}

    %p 
      #{archives.length} posts from 
      - if archive_helper.month_name
        = archive_helper.month
        %span.divider /
      %a{:href => "/#{@path.split('/').first}"}= archive_helper.year
    %ul.unstyled
      - if archives.length > 0
        - archives.each do |entry|
          %li.well
            %h2
              %a{:href => entry.path}= entry.title
            %p= entry.description
            .tags
              - entry[:tags].split(', ').each do |tag|
                %span.tag
                  %span.icon.icon-tag
                  = tag
