.row
  .span7.offset3
    %article.post
      %header
        %h1= title
        %span.date= date
      %section.content
        = body
      %section.comments
        - if @config[:disqus]
          #disqus_thread
          %script{:type => 'text/javascript', :src => "http://disqus.com/forums/#{@config[:disqus]}/embed.js"}
          %noscript
            %a{:href => 'http://disqus.com', :class => 'dsq-brlink'} 
              blog comments powered by
              %span.logo-disqus Disqus
    
