- articles[0..3].each do |article|  
  %article.row
    .span3
      .date
        %h5.day= Date.parse(article.date).strftime('%d')
        %h5.month
          %a{:href => "/#{Date.parse(article.date).strftime('%Y')}/#{Date.parse(article.date).strftime('%m')}"}= Date.parse(article.date).strftime('%b')
        %h5.year
          %a{:href => "/#{Date.parse(article.date).strftime('%Y')}"}= Date.parse(article.date).strftime('%Y')
        %hr/
      .tags
        .pull-right.muted
          - if article[:tags]
            - article[:tags].split(', ').each do |tag|
              .tag
                %span.icon.icon-tag
                = tag
    %header.span7
      %h2.article-title
        %a{:href => article.path}= article.title
      %p= article.body
