.row
  .span6.offset3
    .page-header
      %h1 Resume

#resume.row
  .span2.offset1
    %ul#resume-downloads.unstyled
      %li
        %a{:href => '/resources/resume/resume.doc'}
          %img{:src => '/images/icons/msword.png', :alt => 'Resume In Word Format', :width => '', :height => ''}
          Word
      %li
        %a{:href => '/resources/resume/resume.odt'}
          %img{:src => '/images/icons/opendocument.png', :alt => 'Resume In Open Document Format', :width => '', :height => ''}
          OpenDocument
      %li
        %a{:href => '/resources/resume/resume.pdf'}
          %img{:src => '/images/icons/opendocument.png', :alt => 'Resume In PDF Format', :width => '', :height => ''}
          PDF
  .span6.well
    .row
      .span3
        .name Sean Kibler
        .occupation Web Developer
      .span3
        .muted Please download my resume for contact information ;-)

    %hr

    .row
      .span3.offset3
        %p.muted
          %i &ldquo;Experienced geek with a hunger for technology, balanced with an outdoors-man, homesteader lifestyle.&rdquo;

    .row
      .span6
        %h1 Technical Skills
        %table.table.table-bordered.table-striped
          %tr
            %td Languages:
            %td Ruby, PHP, Javascript, HTML(5)/CSS(3)
          %tr
            %td Frameworks:
            %td Ruby on Rails, WordPress, jQuery, Prototype, Sass, Haml
          %tr
            %td Databases:
            %td MySQL, MongoDB, SQLite
          %tr
            %td Platforms:
            %td Unix/Linux, Cloud deployment (AWS/Rackspace etc), Apache, Nginx
    %hr/

    .row
      .span6
        %h1 Accomplishments
        %h2 Video, voice, and email web application 
        %p I built the back end and some of the front end for an e-commerce web application where members could sign up to schedule multimedia messages to a friend. Members could create video messages to be delivered by email, voice and text messages to be delivered to a friends phone or just a plain email message. Voice messages could be sourced from a directly uploaded audio file or alternatively the member could receive a phone call where they would have an opportunity to record a message.

        %h2 PDF processing for newspaper CMS
        %p I retrofitted an existing import process to handle the importing of daily and weekly newspaper's in a PDF format enabling the news sites to provide a digital edition of their newspaper with nearly no additional effort of news staff.

        %h2 E-commerce web integration to QuickBooks
        %p I was the lead developer of a Ruby on Rails integration component that imported e-commerce sales transactions from an existing database into a clients QuickBooks installation. I was still somewhat of a green developer at the time and it took all of my ability to 'get the engine running'. Learning to consume and produce QuickBooks SOAP XML was a dreadful experience but I managed to push through it and while the integration was not pristine it served its purpose.

        %h2 Linux Server Management
        %p For 3-4 years I managed up to 5 Linux servers. Services being rendered by the servers included: web, MySQL, email, FTP and remote access. Auxillary supporting services also included: NFS, Git, SVN, Jabber. I was responsible for automating regular backups on all servers, conducting frequent security updates and maintenance.
    %hr/

    .row
      .span6
        %h1 Employment

        %h2 
          Dix Communications &ndash; Developer 
          %span.pull-right (January 2011 &ndash; June 2012)
        %p Developer and unofficial system administrator. Developing Ruby on Rails with BDD practices in an agile process. Day to day support and management of Apache2, MongoDB and other various services running on Linux on AWS.

        %h2 
          WRL Advertising &ndash; IT Contractor 
          %span.pull-right (January 2011 &ndash; January 2012)
        %p Configuring hosting and setting up deployment for web sites in Ruby on Rails, PHP and HTML/CSS. Support and maintenance of web servers. Setting up advanced hosting configurations in Apache.

        %h2 
          WRL Advertising &ndash; Developer 
          %span.pull-right (August 2008 &ndash; January 2011)
        %p Developer and server administrator. Developing Ruby on Rails and PHP e-commerce and CMS web sites.

        %h2 
          Stark State College of Technology &ndash; Help Desk Level 1
          %span.pull-right (2006 &ndash; August 2008)
        %p Field level 1 support calls, troubleshoot and resolve or elevate issues. Troubleshoot and maintain printers, computers, and write technical support documentation.
    %hr/

    .row
      .span6
        %h1 Goals
        %p Build meaningful websites and applications with bleeding edge, exciting technologies. Work with talented and diverse individuals.
