<p>Disclaimer: I am not a professional nor am I licensed. The opinions and statements made below are only my own and are intended for self-defense situations only. Please proceed with caution, if you are easily offended by violence or are under the age of 18 you should exit this page immediately. I shall not be held responsible in any way for illegal actions taken by individuals who may misuse the information found below.</p>

<h2>What is self defense?</h2>

<p>Self defense in my opinion is very simply "survival". So what is survival? Well I think that is obvious? In case you might not be playing with a full deck of cards...survival is maintaining your life in the wake of obstacles which might potentially take your life. In a more crude definition survival is NOT getting killed!</p>
<p>You might be at the ATM, bar hopping with buddies, taking your significant other out for a good time. These are all typical and often used examples. Regardless of the surroundings the fact is at any time some other person could suddenly intend to cause physical harm to you or a loved one. Maybe they want something you have, like money, your wallet, a pair of shoes whatever. The problem is you don't really know their true intentions, perhaps they want to hurt you, rape you or your significant other or even kill. Survival is not giving them that chance, self defense is taking the necessary action in order to make survival a possibility.</p>

<h2>How do I survive and defend myself?</h2>

<p>Whether or not it is admitted to, this is a question most people ask themselves. Unfortunately the answer is often cluttered by greed, marketing and media (which are essentially the same thing in my book). My answer is there is no single answer. What I mean is survival is not something that can be purchased or mastered by memorizing a difficult technique. As a matter of fact there is not really any need to memorize any difficult techniques. I will not lie, survival is not easy, can't be learned over night, and does not provide any guarantees. For attempted simplicity I break survival down into a multitude of phases described below.</p>

<h2>Phases of Survival</h2>

<p>Awareness</p> 

<p>The very first and most crucial phase of survival is realizing that there is a threat. This phase is so important because it is the most often overlooked. In general we take safety for granted and place far too much trust in strangers or those which we hardly know. Below I list tips and notes on how to be aware and complete the first phase of survival.</p>

<li>Enforce your personal space</li>
<li>Know your surroundings</li>
<li>NEVER trust strangers</li>
<li>Listen to your gut</li>
<li>Look for unusual activity</li>
<li>Be extra cautious in tourist or unfamiliar areas</li>

<p>A defensive position should be taken as soon as any of the below events take place or if you feel threatened. There are a number of positions to defend yourself, each is right in a different situation. There is however a generic position that is good for any situation. The order is rather important here! I will explain that later. Immediately lower your chin. Raise your hands OPEN HAND to about chest level. Spread your feet a little more than shoulder width apart, and whichever foot feels more comfortable about one step forward. Immediately after you are in position warn the threat, asking them to back off or discontinue whatever activity caused you to feel threatened. Try to remain calm yet assertive and sure of yourself. You want them to be fully aware that you will not be an easy target.</p>

<li>A stranger passes your personal space in an uncomfortable situation (about an arms length and a half)</li>
<li>A stranger walks quickly or runs directly at you</li>
<li>You are surprised in a vulnerable environment such as a dark area</li>
<li>Someone you know reaches for you in a violent way</li>

<p>Striking</p>

<p>The next phase of survival is knowing when, where and how to strike. This phase is where most get caught up in expensive self defense lessons, difficult techniques and false promises. I am not saying taking a self defense class is worthless, I just think its greatly overrated and often times courses are impractical.</p>
<p>When to strike is extremely important to decide. It can be difficult at times, it is natural to not want to hurt someone. All of this is determined by your feeling, and choices. This is difficult and maybe impossible to teach or even learn. For instance, one can not just go around striking the throat of every stranger that asks for the time or directions. At the same time other people need to understand that invading someone elses personal space is not welcome and not a very good idea. As soon as you feel uncomfortable you need to be ready to defend yourself, the instant you feel threatened you must be ready to strike! It is important to give the threat a fair warning, so long as you have the opportunity. However, if someone physically assaults you, then they have forfeited their right and you must preserve your own safety. My opinion and an often used saying is "I would rather be judged by 12 than carried by 6".</p>
<p>When and where to strike are related in an interesting way. First one must understand the difference between a fight and survival. In a fight essentially two or more people agree to attack each other in a non-lethal manner, typically with rules. Each participant hopes to inflict just enough pain to cause the other(s) to stop fighting. In a fight, fists and head locks are used. In survival this is not sufficient. The general idea is to use the most lethal parts of your own body to attack the most vulnerable parts of the threat.</p>

<li>Fingers/Nails on the eyes/face</li>
<li>Blade of your arm/hand/wrist on the throat/nose/ears/temple/collars/groin</li>
<li>Palm of hand on chin/nose/ears/groin</li>
<li>Shin/heel on groin/knee/face</li>

<p>The Instinct</p>

<p>The last but extremely vital phase of survival is the capability to switch on killer instinct. This one is very simple to explain but the most difficult to execute. This is also where many are turned away from self defense and survival. I already mentioned it more than once, but it all comes down to this, its either your life or theirs. In order to survive you must be more violent than the threat.</p>
