body { padding-top: 60px; }
body p { font-size: 16px; line-height: 23px; }
h2 { font-family: 'Palatino', sans-serif; }
.navbar .navbar-inner { background: white; }
.navbar .nav > li > a { color: black; }
.navbar .nav > li > a:hover { color: gray; }
article header { border-bottom: 1px dotted #555; padding: 0 0 15px 15px; margin-bottom: 50px; }
.article-title a { font-size: 28px; }
.article-title a { text-decoration: underline; }
.date p { font-size: 20px; font-weight: bold; font-family: 'Times New Roman', times, serif; text-align: right; margin-right: 15px; }
footer { margin: 20px 0; padding: 30px 0; }
#personal-attributes li { margin: 10px 0; }
.personal-attributes-lg { font-size: 36px; line-height: 32px; }
.personal-attributes-med { font-size: 30px; line-height: 28px; }
.personal-attributes-sm { font-size: 26px; line-height: 22px; }
.indent { padding-left: 2.5em; text-align: right;}
#resume h1 { font-family: Arial sans; font-size: 165%; }
#resume h2 { font-family: Arial sans; font-size: 115%; }
#resume ul li { margin: 25px 0; }
#resume .name { font-size: 135%; line-height: 145%; }
#resume .occupation { font-size: 100%; text-transform: uppercase; }
.date { font-family: 'Palatino'; float: right; clear:both; margin-top: 25px; }
.date > h5 { line-height: 36px; }
.date > .day { font-size: 32px; }
.date > .month { font-size: 30px; }
.date > .year { font-size: 28px; }
.tags { clear: both; }
span.tag { margin-right: 15px; }
