!!!
%html
  %head
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'http://fonts.googleapis.com/css?family=IM+Fell+Double+Pic'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/print.css', :media => 'print'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/coderay.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/bootstrap.min.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/style.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/bootstrap-responsive.min.css'}
    %link{:rel => 'alternate', :type => 'application/atom+xml', :title => "#{title} - feed", :href => '/index.xml'}
    %meta{'http-equiv' => 'Content-Type', :content => 'text/haml; charset=UTF-8'}
    %meta{:name => 'description', :content => context[:description]}
    %title= title

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25499662-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  %body
    .container
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{:href => '/'} Coding To Freedom
            %ul.nav.nav-collapse
              %li
                %a{:href => '/about'} About
              %li
                %a{:href => '/resume'} Resume
              %li
                %a{:href => 'http://www.twitter.com/seankibler'} Twitter
      .row
        = yield

      %hr

      %footer.row
        .span8.offset4
          %blockquote
            = @config[:famous_quote].first
            %small= @config[:famous_quote].last

    %script{:type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/bootstrap.min.js'}
